@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Ubuntu&display=swap');
/* reset css */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #e9e9e9;
}
body{
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgb(242, 236, 236);
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --color-default: #2f312ee3;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
    --color-border: #b3b5b6;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/* thème */
/* Navbar section */
header nav {
    width: 100%;
    height: 6.5rem;
    position: fixed;
    line-height: 6.5rem;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

p {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 2rem;
    margin-top: 3rem;
}

header nav section.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

header nav section.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

header nav section.logo a:hover {
    color: #b7bfc7;
}

header nav section.main_list {
    height: 6.5rem;
    float: right;
}

header nav section.main_list ul {
    width: 100%;
    height: 6.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav section.main_list ul li {
    width: auto;
    height: 6.5rem;
    padding: 0;
    padding-right: 3rem;
}

header nav section.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 6.5rem;
    font-size: 2.4rem;
}

header nav section.main_list ul li a:hover {
    color: #b7bfc7;
}

/* Home section */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(/asset/background.jpg);
    background-position: center top;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Animation */
h2, h3, ul{
    text-align: center;
    padding: 1rem;
}

main h3{
        font-family: 'Inter', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
        margin-top: 2rem;
}
main h3:hover{
    letter-spacing: 0.5rem;
    transition: all 1.5s ease-in-out;   
}
p{
    padding: 2rem;
    padding-left: 2rem;
}
/* fleche retour */
main a img{
    max-width: 4.5%;
    display: block;
    margin: 0 auto;
    margin-top: -9rem;
    position: static;
    cursor: pointer;
    border-radius: 9rem;
    background-color: #fff;
    border: solid 0rem #fff;
    transition: 1s ease-in-out;
}
main a img:hover{
    transform: translateY(-2rem) scale(1.1);
}
main a{
    color: #000;
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 2rem;
    margin-left: 7rem;
    top: 5rem;
}
article section{
    max-width: 90rem;
    min-height: 5rem;
    padding: 0;
    border: solid 0.1rem transparent;
    background-color: #e0e2e182;
    margin: 0 auto 2rem;
    box-shadow: 0 0 1.0rem var(--color-border);
    margin-top: 4rem;
    border-radius: 1rem;
}
article section img{
    width: 100%;
}

article section p a{
    background-color: #bdc3c7;
    padding: 0.5rem 3rem;
    color: #000;
    border-radius: 1rem;
    margin: 0 auto;
    display: block;
    width: 20rem;
    text-align: center;
    transition: all 500ms ease-in-out;  
}
article section p a:hover{
    color: #fff;
    background-color: #2f312ee3;
    transition: all 500ms ease-in-out;
}
main article section ul li{
    padding: 1rem;
}

/* pied de page */
main div a img{
    max-width: 4.5%;
    display: block;
    margin-right: 10rem;
    margin-top: -3rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 8rem;
    background-color: #fff;
    border: solid 0rem #fff;
    transition: 1s ease-in-out;
}
main div a img:hover{
    transform: translateY(-2rem) scale(1.1);
}
/* Menu Hamburger */
.navTrigger {
    cursor: pointer;
    width: 3rem;
    height: 2.5rem;
    margin: auto;
    position: absolute;
    right: 3rem;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 0.2rem;
    content: '';
    display: block;
    width: 100%;
    height: 0.4rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 0.5rem 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    background-color: #111;
    padding: 0;
}

/* FOOTER */
.container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #000;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #5c8abc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #215790;
}
/* PIED DE PAGE */
footer {
    background-color: #2f312e;
    color: #fff;
    padding: 0;
    margin: 0 auto;
    display: block;
    
}

footer p {
    color: #fff;
    text-align: center;
    line-height: 5rem;
    font-size: 1.5rem;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 0;
    list-style: none;
}
footer h4{
    display: block;
    padding: 5rem;
    font-size: 3rem;
    text-align: center;
}
.link {
    margin: auto 1rem;
    max-width: 2rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

footer img {
    max-width: 4rem;
    margin-top: -6rem;
    transform: translateY(-1.2rem);
    margin-left: 1rem;
}
/* RESPONSIVE */
@media screen and (max-width: 70rem)and (min-width: 10rem){
    header{
        padding: 1rem;
        height: 40vh;
        background: #30312E;
    }
    header h1{
        font-size: 3rem;
        margin-top: 9rem;
    }
    h2{
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    .gallery{
        grid-template-columns: repeat(2, 2fr);
    }
    article{
        max-width: 90rem;
        min-height: 5rem;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    h3{
        font-size: small;
    }
    h3:hover{
        letter-spacing: 0.5rem;  
    }
    p{
        padding: 1rem;
        padding-left: 2rem;
    }
  .haut{
      max-width: 8%;
  }
  .bas{
      max-width: 8%;
  }
    /* menu */
    nav ul li:hover a{
        border-bottom: solid;
    }
    /* ouverture menu */

    /* flêche vers le bas */
    main div a img{
        
        max-width: 8%;
    }
    main div a img:hover{
        transform: translateY(-2rem) scale(1.1);
    }
    /* fleche vers haut */
    main a img{
        max-width: 8%;
        margin:auto;
        margin-top: -9rem; 
    }
    /* pied de page */
    footer{
        padding: 1rem;
        margin-top: 4rem; 
    }
    footer p{
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
    }
    footer h5, h6{
        color: #fff;
    }
    footer h6{
        text-align: center;
        font-size: 1.5rem;
    }
    footer ul li{
        transform: translateY(1rem);
        margin: 1rem auto;
        margin-right: 2rem;
        
    }
    footer h4::before, footer h4::after{
        margin: auto 0.7rem;
    }
    footer ul{
        list-style: none;
        margin: 0 auto;
        margin-right: 6rem;
        padding: 0;
    }
}
@media screen and (orientation:landscape)  {
    header{
        height: 100vh;
    }
    footer ul li{
        display: inline-block;
        margin-left: -3rem;
        margin-right: -1rem;
    }
}