@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Ubuntu&display=swap');

/* reset css */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #fff;
}

body {
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: rgb(242, 236, 236);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --color-default: #000;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
}

/* scroll bars */
* {
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}

*::-webkit-scrollbar {
    width: .2rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */
header nav {
    width: 100%;
    height: 6.5rem;
    position: fixed;
    line-height: 6.5rem;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

p {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 2rem;
    margin-top: 3rem;
}

header nav section.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

header nav section.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

header nav section.logo a:hover {
    color: #b7bfc7;
}

header nav section.main_list {
    height: 6.5rem;
    float: right;
}

header nav section.main_list ul {
    width: 100%;
    height: 6.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav section.main_list ul li {
    width: auto;
    height: 6.5rem;
    padding: 0;
    padding-right: 3rem;
}

header nav section.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 6.5rem;
    font-size: 2.4rem;
}

header nav section.main_list ul li a:hover {
    color: #b7bfc7;
}

/* Home section */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(/asset/background.jpg);
    background-position: center top;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Animation */
/* site */
/* TEXTE */
main a {
    color: #000;
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 2rem;
    margin-left: 7rem;
    top: 5rem;
}

h2,
h3,
ul {
    text-align: center;
    padding: 1rem;
}

p {
    padding: 2rem;
    padding-left: 2rem;
}

/* LOGO EXPERIENCES, FORMATIONS ET LOISIRS */
article ul li a img {
    max-width: 21%;
    border-radius: 1rem;
    margin: 0 auto;
    display: block;
}

.formation ul li img {
    max-width: 9rem;
    border-radius: 1rem;
    margin: 0 auto;
    display: block;
}

.formation ul li:nth-child(2) {
    border-radius: 1rem;
    margin: 0 auto;
    height: 14rem;
    display: block;
}

/* ARTICLES ET SECTIONS */
.logiciels,
article {
    max-width: 130rem;
    min-height: 5rem;
    padding: 0;
    margin: 0 auto 3rem;
    background-color: #F1F1F1;
    margin-top: 5rem;
    border-radius: 1rem;
}

.logiciels h3 {
    color: rgb(0, 0, 0);
    border-radius: 1rem 1rem 0 0;
    transition: all 1.5s ease-in-out;
    letter-spacing: 0.2rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

.logiciels h3:hover {
    letter-spacing: 0.5rem;
    transition: all 1.5s ease-in-out;
}

.logiciels ul {
    padding: 3rem;
}

.logiciels ul li img {
    max-width: 9rem;
}

article:first-child {
    margin-top: 4rem;
}

article h3 {
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .2rem;
    font-size: 3rem;
}

article h3:hover {
    letter-spacing: 0.5rem;
    transition: all 1.5s ease-in-out;
}

/* CONTENEUR */
main article ul {
    padding: 2rem;
    background-color: #c9c9c9cc;
    max-width: 30%;
    height: 32rem;
    border-radius: 1rem;
    display: inline-block;
    width: 100%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin: 2rem;
    transition: all 0.5s ease-in-out;
}

main article ul:hover {
    transform: scale(1.1);
}

/* LOGO COMPETENCES */
.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    min-width: 5rem;
}

/* Menu Hamburger */
.navTrigger {
    cursor: pointer;
    width: 3rem;
    height: 2.5rem;
    margin: auto;
    position: absolute;
    right: 3rem;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 0.2rem;
    content: '';
    display: block;
    width: 100%;
    height: 0.4rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 0.5rem 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    background-color: #111;
}

/* FOOTER */
.container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #000;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #5c8abc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #215790;
}
/* PIED DE PAGE */
footer {
    background-color: #2f312e;
    color: #fff;
    padding: 0;
    margin: 0 auto;
    display: block;
    
}

footer p {
    color: #fff;
    text-align: center;
    line-height: 5rem;
    font-size: 1.5rem;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 0;
    list-style: none;
}
footer h4{
    display: block;
    padding: 5rem;
    font-size: 3rem;
    text-align: center;
}
.link {
    margin: auto 1rem;
    max-width: 2rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

footer img {
    max-width: 4rem;
    margin-top: -6rem;
    transform: translateY(-1.2rem);
    margin-left: 1rem;
}

@media screen and (max-width:76.8rem) {
    .navTrigger {
        display: block;
    }

    header nav section.logo {
        margin-left: 1.5rem;
        margin-top: -2.5rem;
    }

    header nav section.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    header nav section.show_list {
        height: auto;
        display: none;
    }

    header nav section.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }

    header nav section.main_list ul li {
        width: 100%;
        text-align: right;
    }

    header nav section.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 2rem;
    }

    header nav section.media_button {
        display: block;
    }
}

@media all and (max-width:70rem) {
    p {
        padding: 2%;
    }
}
/* RESPONSIVE */
@media screen and (max-width: 70rem) and (min-width: 10rem) {
    h2 {
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 2fr);
    }

    article {
        max-width: 90rem;
        min-height: 5rem;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    main article ul {
        max-width: 35rem;
    }

    footer h3 {
        font-size: 2rem;
    }

    h3:hover {
        letter-spacing: 0.5rem;
    }

    p {
        padding: 1rem;
        padding-left: 2rem;
    }

    .haut {
        max-width: 8%;
    }

    .bas {
        max-width: 8%;
    }
/* fleche vers haut */
main a img{
    max-width: 6%;
    margin:auto;
    margin-top: -2rem; 
}
    /* pied de page */
    footer {
        padding: 1rem;
        margin-top: 4rem;
    }

    footer h4::before,
    footer h4::after {
        margin: auto 0.7rem;
    }

    footer p {
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
    }

    footer h4{
        color: #fff;
    }

    footer ul li {
        display: block;
        margin-left: 3rem;
        margin-right: 2rem;
        transform: translateY(1rem);
        margin: 2rem;
    }

    footer ul {
        list-style: none;
        margin: 0;
        margin-right: 13rem;
        padding: 0;
    }
}

@media screen and (orientation:landscape) and (max-width: 63rem) {
    header {
        height: 100vh;
    }
}

footer ul li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: -1rem;
}
/* Media query section */

@media screen and (min-width: 76.8rem) and (max-width: 102.4rem) {
    section .container {
        margin: 0;
    }
}
